<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lt.dao.ScholarshipDepartmentDao">
	
	<resultMap  id="scholarshipDepartmentMap" type="cn.lt.po.ScholarshipDepartment">
		<id column="id" property="id"/>
		<result column="s_id" property="sId"/>
		<result column="d_id" property="dId"/>
		<result column="num" property="num"/>
		<result column="remaining_num" property="remainingNum"/>
		<association  property="scholarship" javaType="cn.lt.po.Scholarship">
            <id column="id" property="id"/>
            <result column="title" property="title"/>
			<result column="the_year" property="theYear"/>
			<result column="is_del" property="isDel"/>
			<result column="num" property="num"/>
			<result column="remaining_num" property="remainingNum"/>
        </association>
	</resultMap>

	<select id="getSDById" resultMap="scholarshipDepartmentMap" resultType="cn.lt.po.ScholarshipDepartment" parameterType="java.lang.Integer">
	  select * from p_scholarship_department where id=#{id}
	</select>
	
	<select id="findAll" resultMap="scholarshipDepartmentMap" resultType="cn.lt.po.ScholarshipDepartment" parameterType="cn.lt.vo.IndexVo">
	  select * from p_scholarship_department a left join p_scholarship b on a.s_id=b.id where 1=1
	  <if test="dId!=null">
	  and a.d_id=#{dId}
	  </if>
	  <if test="sId!=null">
	  and a.s_id=#{sId}
	  </if>
	</select>
	
	<delete id="del" parameterType="cn.lt.vo.IndexVo">
		 delete from p_scholarship_department where 1=1
		 <if test="id!=null">
		 and id=#{id}
		 </if>
		 <if test="sId!=null">
		 and s_id=#{sId}
		 </if>
	</delete>

	<insert id="add" parameterType="cn.lt.vo.SocialVo" useGeneratedKeys="true" keyProperty="id">
	  insert into p_scholarship_department(s_id,d_id,num,remaining_num) 
	  values(#{sId},#{dId},#{num},#{remainingNum})
	</insert> 
	
	<update id="edit" parameterType="cn.lt.vo.SocialVo">
  	  update p_scholarship_department
  	  <trim prefix="set" suffixOverrides=",">
  	  <if test="num!=null">
  	  num =#{num},
  	  </if>
  	  <if test="remainingNum!=null">
  	  remaining_num=#{remainingNum},
  	  </if>
  	  </trim>
	  where id=#{id}
    </update>
	
</mapper>