<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lt.dao.SocialDao">
	
	<resultMap  id="socialMap" type="cn.lt.po.Social">
		<id column="id" property="id"/>
		<result column="title" property="title"/>
		<result column="the_year" property="theYear"/>
		<result column="is_del" property="isDel"/>
		<result column="num" property="num"/>
		<result column="remaining_num" property="remainingNum"/>
	</resultMap>

	<select id="getSocialById" resultMap="socialMap" resultType="cn.lt.po.Social" parameterType="java.lang.Integer">
	  select * from p_social where id=#{id}
	</select>
	
	<select id="findAll" resultMap="socialMap" resultType="cn.lt.po.Social" parameterType="cn.lt.vo.IndexVo">
	  select * from p_social where is_del=1
	</select>
	
	<update id="del" parameterType="cn.lt.vo.IndexVo">
		 update p_social set is_del=0 where 1=1 
		 <if test="id!=null">
		 and id=#{id}
		 </if>
	</update>

	<insert id="add" parameterType="cn.lt.vo.SocialVo" useGeneratedKeys="true" keyProperty="id">
	  insert into p_social(title,the_year,is_del,num,remaining_num) 
	  values(#{title},#{theYear},1,#{num},#{remainingNum})
	</insert> 
	
	<update id="edit" parameterType="cn.lt.vo.SocialVo">
  	  update p_social
  	  <trim prefix="set" suffixOverrides=",">
	  	<if test=" num!=null" >
	    	 num=#{num},
	    </if>
	  	<if test="remainingNum!=null" >
	    	remaining_num=#{remainingNum},
	    </if>
	  </trim>
	  where id=#{id}
    </update>
	
</mapper>